
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.abt{
    margin: 3em;
}

#abt1{
    border: 2px solid  #00b9f5;
    padding: 1em;
}
#abt2 p , #abt1 p{
    color: rgb(112, 112, 112);
}


.abtheading{
    background-color: #4accf8;
    width: 100%;
    padding-top:    1%;
    padding-bottom: 1%;
}

.abtheading h1{
    color: white;
    font-size: 3em;
}


